<div class="language-switcher-container">
  <div class="language-pill-group">
    <button 
      *ngFor="let lang of languages" 
      type="button"
      class="language-pill-btn" 
      [class.active]="selectedLanguage === lang.key"
      (click)="selectLanguage(lang.key)">
      <span class="material-icons pill-icon">{{ lang.icon }}</span>
      <span class="pill-text">{{ lang.label }}</span>
      <span class="active-indicator" *ngIf="selectedLanguage === lang.key"></span>
    </button>
  </div>
</div>
